body{
    background-image: url(../img/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.head-section{
   padding-block: 18px ;
    
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title{
    display: flex;
    justify-content: space-between;
}
.head-title{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.head-title:hover{
    color: #01813F;
}
.icon-link .calendar-icon:hover,
.icon-link .envelope-icon:hover,
.icon-link .compass-icon:hover{
    stroke: #01813F;
    fill: #01813F;
}
.head-icon{
    display: flex;
    /* justify-content: space-between; */ 
}
.calendar-icon,
.envelope-icon,
.compass-icon{
    padding-right: 27px;
}
.head-link:hover{
    color: #01813F;
}
.head-link,
.link-text{
    color: #FFFFFF;
}
.head-link-singn{
    display: flex;
}
.head-link-singn::before{
    content: '';
    border-left: 1px solid #FFFFFF;
    padding-right: 27px;
}
.singin{
    width: 444px;
    margin-top: 52px;
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 74px;
}
.singup{
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    position: relative;
}
.singin-title{
    position: absolute;
    left: 50px;
}
.singin-title{
    font-size: 20px;
    color: #434343;
    padding-left: -20px;
}

.singup::before{
    display: inline;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.singin-link{
    color: #3CB878;
    padding-right: 51px;
    align-self: end;
}
.singup-item{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}
.fb-item{
    width: 130px;
    display: flex;
    justify-content: space-around;
    
    background-color: #305DB8;
    border-radius: 4px;
    padding: 17px 22px;
    /* border: none; */
}
.singup-item-fb,
.singup-item-gml{
    /* height: 28px; */
    /* width: 120px; */
    color: #FFFFFF;  
    
}
.singup-item-fb::after,
.singup-item-gml::after{
    content: '';
    border-right: 1px solid #0A162F;
    opacity: 0.1;
    padding-left: 18px;
}
.singin-link:hover,
.terms:hover{
    color: #01813F;
    text-decoration: underline;
}
.fb-text,
.gml-text{
    font-size: 16px;
    color: #FFFFFF;
}
.fb-item:hover{
    background-color: #022263;
}
.gml-item{
    width: 130px;
    display: flex;
    justify-content: space-around;
    background-color: #DF4A32;
    border-radius: 4px;
    padding: 17px 22px;
    margin-left: 10px;
}
.gml-item:hover{
    background-color: #AB1F09;
}
.or{
    display: inline-block;
    text-align: center;
    color: #848484;
    position: relative;
    margin-bottom: 12px;
}
.or::after,
.or::before{
    content: '';
    position: absolute;
    top: 50%;
    width: 168px;
    height: 2px;
    background-color: #F2F2F2;
    transform: translateY(-50%);
}
.or::before{
    left: 20px;
}
.or::after{
    right: 20px;
}
.singin-form{
    display: flex;
    flex-direction: column;
}
.singin-form:last-child{
    margin-bottom: 30px;
}
.singin-form-field{
    align-self: center;
    width: 340px;
    border: none;
    outline: none;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-block: 15px;
    padding-left: 19px;
    font-size: 14px;
    color: #434343;
    margin-bottom: 15px;
    transition: 0.5s;
    transition-property: box-shadow;
}
.singin-form-field::placeholder{
    font-family: 'Ubuntu';
    color: #BEBEBE;
}
.singin-form-field:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    /* border-radius: 4px; */
    font-family: 'Ubuntu';
    font-size: 20px;
}
.singin-form-label{
    width: 360px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}
.terms-item{
    color: #434343;
    cursor: pointer;
}
.terms{
    color: #3CB878;
}
.btn{
    font-family: 'Ubuntu';
    width: 360px;
    align-self: center;
    border: none;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding-block: 16px ;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover{
    background-color: 
    #01813F;
}
